@-moz-document url(about:newtab), url(about:home){
.search-inner-wrapper {
    display: none !important;
}

.personalizeButtonWrapper {
    display: none !important;
}

.logo-and-wordmark {
    padding-top: 15vw !important;
}
}